@font-face {
    font-family: Yandex Sans;
    src: url(../fonts/YandexSansText-Light.woff) format("woff"),
         url(../fonts/YandexSansText-Light.ttf) format("truetype");

    font-weight: 300;
}

@font-face {
    font-family: Yandex Sans;
    src: url(../fonts/YandexSansText-Regular.woff) format("woff"),
         url(../fonts/YandexSansText-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Yandex Sans;
    src: url(../fonts/YandexSansText-Medium.woff) format("woff"),
         url(../fonts/YandexSansText-Medium.ttf) format("truetype");

    font-weight: 500;
}

@font-face {
    font-family: Helvetica Neue;
    src: url(../fonts/HelveticaNeue-Bold.woff) format("woff"),
         url(../fonts/HelveticaNeue-Bold.ttf) format("truetype");

    font-weight: bold;
}

@font-face {
    font-family: Helvetica Neue;
    src: url(../fonts/HelveticaNeue-Medium.woff) format("woff"),
    url(../fonts/HelveticaNeue-Medium.ttf) format("truetype");

    font-weight: 500;
}

@font-face {
    font-family: Helvetica Neue;
    src: url(../fonts/HelveticaNeue.woff) format("woff"),
    url(../fonts/HelveticaNeue.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5eaf0;
    padding-left: 22px;
    padding-right: 20px;
    min-width: 950px;
    max-width: 1600px;
}

a {
    text-decoration: none;
}

.main-header {
    white-space: nowrap;
    height: 56px;
    padding: 12px 0;
    box-sizing: border-box;
}

.main-header > * {
    vertical-align: middle;
}

.mail-yandex-logo {
    display: inline-block;
}

.logo-hamburger-icon {
    margin: 8px 12px 8px 0;
}

.search {
    position: relative;
    display: inline-block;
    width: 50%;
    max-width: 400px;
    margin-left: 20%;
    opacity: 0.5;
}

.search-area {
    width: 100%;
    height: 30px;

    font: 15px/32px "Yandex Sans";
    padding-left: 16px;
    padding-right: 30px;
    box-sizing: border-box;
}

.cross-icon {
    position: absolute;
    top: 10px;
    right: 15px;
}

.main-window {
    margin-bottom: 14px;
    white-space: nowrap;
}

.left-column {
    display: inline-block;
    width: 150px;
    margin-right: 22px;
}

.write-letter-button {
    width: 100%;
    height: 32px;
    border: none;
    border-radius: 3px;
    background-color: #6287bd;

    font: 500 12px "Helvetica Neue";
    color: white;
}

.write-letter-button:hover {
    cursor: pointer;
}

.navigation ul {
    list-style-type: none;
    margin-top: 8px;
}

.navigation li {
    padding: 5px 10px;
    margin-bottom: 2px;

}

.navigation li a {
    display: block;
    font: bold 11px "Helvetica Neue";
    color: #555555;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navigation li.active,
.navigation li:hover {
    border-radius: 3px;
    background-color: #cdd6e4;
}

.incoming-letters-window {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.34);
    width: 80%;
}

.letter-actions {
    height: 37px;
    border-bottom: solid 1px #e2e2e2;
}

.checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.my-checkbox {
    position: relative;
    float: left;
    margin: 11px 20px;

    width: 14px;
    height: 14px;

    border-radius: 3px;
    box-shadow: 0 0 0 1px #ccc;
    background-color: #fff;

    cursor: pointer;
}


.my-checkbox::after {
    content: '';

    position: absolute;
    bottom: 4px;
    left: 1px;

    width:18px;
    height:18px;

    background-image: url(../img/checkbox.svg);
    visibility:hidden;
}

.checkbox:active + label > .my-checkbox {
    background-color: #f6f5f3;
}

.checkbox:checked + label > .my-checkbox {
    background-color: #ffeba0;
    box-shadow: 0 0 0 1px #c2b275;
}

.checkbox:checked + label > .my-checkbox::after {
    visibility: visible;
}

.checkbox:checked + label + a {
    background-color: #f0f0f0;
}

.my-checkbox:hover {
    box-shadow: 0 0 0 1px #999;
}

.checkbox:focus + label > .my-checkbox {
    box-shadow: 0 0 0 1px #e4c23b,
    0 0 15px 1px #e4c23b;
}

.actions-box {
    height: 100%;
}

#checkbox-all:checked + label + div > button {
    color: black;
}

.action {
    display: block;
    float: left;
    height: 100%;

    background-color: transparent;

    cursor: pointer;

    border: none;
    font: 500 12px "Helvetica Neue";
    color: #ccc;
    margin-right: 26px;
}

.incoming-letters-list {
    position: relative;
    width: 100%;
    min-height: 491px;
    max-height: 600px;
    overflow-y: auto;
}

.incoming-letters-list ul {
    list-style-type: none;
}

.change-content-label,
.close-article-label
{
    cursor: pointer;
    display: block;
    height: 100%;
}

#change-content {
    display: none;
}

.incoming-letters-list ul {
    display: block;
}

#change-content:checked + ul {
    display: none;
}

#change-content:checked ~ .article-content {
    display: block;
}

.article-content {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;

    margin: 0 auto;
    width: 100%;
    padding: 0 10%;

    box-sizing: border-box;

    background-color: white;

    display: none;
}

.close-article {
    position: absolute;
    top: 15px;
    right: 15px;
}

.article-main-window {
    white-space: normal;
}

.letter {
    height: 40px;
    border-bottom: solid 1px #e2e2e2;
}

.letter-link {
    display: block;
    height: 100%;
    color: black;
}

.user-img {
    float: left;
    width: 30px;
    height: 30px;
    margin: 5px 10px 5px 8px;

    border-radius: 50%;
}

.letter-from {
    display: inline-block;
    width: 160px;
}

.letter-from,
.letter-subject {
    display: inline-block;
    float: left;
    margin: 12px 0;
    font: 13px "Helvetica Neue";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.unread .letter-from,
.unread .letter-subject {
    font-weight: bold;
}

.unread-flag {
    float: left;
    width: 10px;
    height: 10px;

    margin: 14px 10px auto;

    background-color: #6287bd;
    border-radius: 50%;
}

.letter-subject {
    display: block;
    float: left;
    margin-left: 20px;
    margin-right: auto;
    width: 50%;

}

.read .unread-flag {
    visibility: hidden;
}


.letter-date {
    display: block;
    float: right;
    margin-top: 11px;
    margin-right: 20px;
    font: 13px "Helvetica Neue";
    color: #9b9b9b;
}

.main-footer {
    margin-bottom: 0;
    height: 31px;
    width: 100%;
    border-top: solid 1px #e2e2e2;

    text-align: right;
}

.main-footer a,
.main-footer .copyright {
    display: inline-block;
    margin-left: 30px;
    margin-top: 9px;
    font: 11px "Helvetica Neue";
    color: #9b9b9b;
}

.main-footer .copyright {
    margin-right: 20px;
    margin-left: 30px;
}
