.essay {
	font-family: sans-serif;
	font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
	line-height: 1.5;
}

h1 {
	text-align: center;
	margin: 10px 0px 60px 0px;
	color: #666;
}

article p::first-letter {
	color: red;
}

#birds-img-container {
	float: right;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	background: #eee;
	width: 300px;
	box-shadow: 0 0 10px #333;
}

img {
	border-radius: 2%;
}

figcaption {
	text-align: center;
	font-size: 15px;
}

#ascii-art-container {
	margin: auto;
	text-align: center;
	display: block;
}

pre {
	display: inline-block;
	color: blue;
	text-align: left;
}

li {
	padding: 10px;
	max-width: 500px;
}

#footer-right {
	float: right;
	margin: 0px;
}

.contact-property {
	color: #888;
	font-family: "Courier New", Courier, monospace;
}

address {
	font-style: inherit;
}

.essay-list-item:nth-child(2n) {
	color: #777;
}

.essay-list-item:hover {
	background-color: #eee;
	box-shadow: 0px 0px 0px 2px white inset;
}

cite {
	font-family: Courier New;
}

.essay-footer {
	margin-bottom: 30px;
}

hr {
	background-color: #ddd;
	color: #ddd;
	height: 1px;
	border: none;
}

.essay-time {
	color: #555;
}

.essay-link:visited {
	color: green;
}

.essay-link:hover {
	color: #5ab;
}

.essay-link:active {
	color: #abc;
}

.pacman-image {
    float: left;
    shape-outside: polygon(90% 5%, 100% 18%, 62% 49%, 100% 85%, 73% 100%, 31% 96%, 0 70%, 0 26%, 36% 0, 66% 0);
}