.yandex-mail-logo-b {
    width: 20px;
    height: 3px;
    background-color: #000000;
}

.yandex-mail-logo-w {
    width: 20px;
    height: 3px;
}

.mail-logo-lines {
    display: inline-block;
    padding-bottom: 8px;
}

.yandex-logo-title {
    display: inline-block;
    height: 50px;
}

.yandex-logo-title img {
    padding-top: 10px;
    height: 30px;
    width: 150px;
}

.panel-for-search-by-mails {
    display: inline-block;
    width: 312px;
    height: 30px;
    margin-left: 90px;
    background-color: #f2f5f8;
    border: 1px solid #d9dbde;
    font-family: YandexSansThin, "Times New Roman";
    color: #737578;
    font-size: 15px;
}

.wrapped-panel-for-search-by-mails {
    position: absolute;
    width: 315px;
    white-space: nowrap;
}

.input-for-search-by-mails {
    display: inline-block;
    min-width: 280px;
    height: 30px;
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 16px;
}

.placeholder-for-clear-input {
    display: inline-block;
    margin: 8px 5px 0 0;
    float: right;
}

