.yandex-mail-logo-b {
    width: 20px;
    height: 3px;
    background-color: #000000;
}

.yandex-mail-logo-w {
    width: 20px;
    height: 3px;
}

.mail-logo-lines {
    float: left;
    margin-top: 12px;
}

.yandex-logo-title {
    float: left;
}

.yandex-logo-title *:first-child {
    font-family: YandexSansBold;
    font-size: 31px;
}

.yandex-logo-title *:last-child {
    font-family: YandexSansThin;
    font-size: 31px;
}

.panel-for-search-by-mails {
    overflow: hidden;
}

.wrapper-panel-for-search-by-mails {
    margin: 7px 70px 0;
    width: 41.16%;
    min-width: 312px;
    height: 30px;
    background-color: #f2f5f8;
    border: 1px solid #d9dbde;
    font-family: YandexSansThin;
    color: #737578;
    font-size: 15px;
}

.wrapper-panel-for-search-by-mails input {
    float: left;
    display: inline;
    min-width: 280px;
    height: 30px;
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 16px;
}

.wrapper-panel-for-search-by-mails div {
    float: right;
    display: inline;
    margin: 8px 5px 0 0;
}

