@import url(src/YandexSansText-Bold/style.css);
@import url(src/YandexSansDisplay-Thin/style.css);

#container {
    height: 100vh;
    margin: 0;
    padding: 11px 22px 14px 22px;
    background-color: #e5eaf0;
    font-family: HelveticaNeue;
}

#header {
    width:  100%;
    height: 65px;
}

.Rectangle {
    width:  25px;
    height: 3px;
    background-color: #000000;
}

#hamburger-and-logo-container {
    float: left;
    width: 390px;
}

#hamburger {
    float:       left;
    width:       30px;
    margin-top:  22px;
    margin-left: 22px;
}

#hamburger > .Rectangle:not(:first-child) {
    margin-top: 4.8px;
}

#top-logo {
    width: 330px;
    float: right;
}

.word-yandex {
    font-size:   52px;
    font-weight: 600;
    font-family: 'Yandex Sans Bold';
}

.word-after-yandex {
    font-weight: 300;
    font-size:   50px;
    margin-left: 5px;
    font-family: 'Yandex Sans Thin';
}

#search-bar-container {
    display: inline-block;
    width: calc(100% - 440px);
    margin-top: 11px;
}

.search-bar {
    height:           45px;
    opacity:          0.5;
    width:            70%;
    min-width:        150px;
    margin:           0 auto;
    box-shadow:       inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    vertical-align:   middle;
}

.search-request {
    color:        #000000; 
    padding:        4.5px;
    font-size:      16px;
    font-weight:    400;
    line-height:    2.13;
    font-family:    'Yandex Sans Thin';
    vertical-align: middle;
}

.search-cancel {
    float:   right;
    margin-right: 4.5px;
}

.search-cancel:hover {
    cursor: pointer;
}

#content {
    width:  100%;
    height: calc(100% - 65px);
    margin-top: 17px;
}

#mail-folders {
    float: left;
    width: 15%;
    min-width: 200px;
    height: 100%;
}

.new-message {
    position: relative;
    width: 95%;
    height: 35px;
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 3px;
    background-color: #6287bd;
}

.new-message-text {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.folders {
    margin-top: 15px;
}

.folder-wrapper {
    display: table;
    width: 95%;
    margin: 0 auto;
}

.folder {
    height: 27px;
    padding-left: 10px;
    display: table-cell;
    font-size: 15px;
    font-weight: 500;
    color: #707070;
    vertical-align: middle;
    cursor: pointer;
}

.selected-folder {
    border-radius: 3px;
    font-weight: bold;
    background-color: #cdd6e4;
}

.folder:hover {
    color: #a3a1a1;
}

#mail-screen {
    height: 93%;
    margin-left: 33px;
    border-radius: 3px;
    display: inline-block;
    border: #000000 1px solid;
    width: calc(100% - 260px);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.26);
    background-color: #ffffff;
}

.mail-row {
    height: 65px;
    display: table-cell;
    vertical-align: middle;
    border: solid 1px #e2e2e2;
}

.mail-row-top {
    height: 45px;
}

.mail-row + .mail-row {
    border-top: 0px;
}

.nav-mail-screen-action {
  font-size: 19px;
  font-weight: 500;
  color: #ccccdd;
  margin-left: 16px;
}

.select-mail-row {
    margin-left: 20px;
}

.mail-screen-row-wrapper {
    display: table;
    width: 100%;
}

.sender-photo {
    margin-left: 16px;
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    border-radius: 50%;
}

.unread-flag {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #6287bd;
    margin-left: 5px;
}

.read > .unread-flag {
    display: none;
}

.sender-name {
    display: inline-block;
    font-size: 19px;
    font-weight: bold;
    color: #000000;
    margin-left: 9px;
    min-width: 160px;
    width: 25%;
}

.read > .sender-name {
    font-weight: normal;
}

.mail-title {
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    color: #000000;
    margin-left: 5px;
    width: 45%;
}

.read > .mail-title {
    font-weight: normal;
    margin-left: 25px;
}

.mail-date {
    font-size: 19px;
    font-weight: 500;
    color: #ccccdd;
    display: inline-block;
}