.actions-panel {
    width: 145px;
    float: left;
    text-overflow: ellipsis;
    margin-right: 22px;
}

.actions-panel .create-new-mail-button {
    display: block;
    width: 147px;
    height: 32px;
    border-radius: 3px;
    background-color: #6287bd;
    margin: 0 auto 10px;
    float: left;
    border: none;
}

.actions-panel .create-new-mail-button:hover {
    cursor: pointer;
}

.actions-panel .create-new-mail-button .place-for-aligned-text {
    color: #ffffff;
    font-family: HelveticaNeueLight, Arial;
    font-size: 12px;
    font-weight: 500;
    float: left;
    margin: 10px 46px 10px 45px;
}

.action-navigation-placeholder {
    padding-top: 42px;
}

.navigation-item {
    width: 147px;
    height: 22px;
    color: #707070;
    font-size: 11px;
    font-family: HelveticaNeueMedium, Georgia;
    font-weight: 500;
    float: left;
    text-indent: 1em;
}

.navigation-item:hover {
    border-radius: 3px;
    background-color: #cdd6e4;
    cursor: pointer;
    font-size: 11px;
    font-weight: 700;
    color: #555555;
}

.navigation-item .place-for-aligned-text {
    margin-top: 8px;
}

.max-text-size {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 147px;
}