* {
    font-family: 'Yandex Sans Text';
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0 0;
    background-color: #e5eaf0;
    min-width: 800px;
    min-height: 600px;
}

.emails {
    height: calc(100% - 70px);
    width: calc(100% - 213px);
    float: left;
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.34);
    border-radius: 3px;
    margin-left: 22px;
    margin-right: 22px;
    left: 0;
}

.menu-block {
    height: calc(100% - 70px);
    width: 147px;
    float: left;
    position: relative;
    margin-left: 22px;
}

.t-head {
    height: 56px;
    width: 100%;
}

.burger {
    height: 17px;
    width: 20px;
    float: left;
    margin-left: 22px;
    margin-top: 19px;
}

.yandex {
    display: block;
    height: 31px;
    width: 153px;
    float: left;
    background-image: url("Shape@4x.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    margin-top: 12px;
    margin-left: 10px;
}

.burger-elem {
    height: 3px;
    background-color: black;
    width: 20px;
}

.with-margine {
    margin-top: 4px;
}

.search {
    height: 32px;
    width: 35%;
    float: left;
    position: relative;
    left: 16%;
    top: 15%;
    background-color: #f2f5f8;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    min-width: 301px;
}

.search p {
    display: inline-block;
    margin: 0;
    position: relative;
    float: left;
    top: 50%;
    left: 5%;
    color: #989b9e;
    font-size: 2.8vh;
    text-align: center;
    transform: translateY(-55%);
}

.search div {
    display: block;
    height: 15px;
    width: 15px;
    position: relative;
    float: right;
    top: 50%;
    opacity: 0.34;
    margin-right: 5%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    background-image: url("fe0abd829d.png");
    transform: translateY(-50%);
}

.menu {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu li {
    padding-left: 10px;
    padding-top: 2%;
    padding-bottom: 3%;
    padding-right: 10%;
    border-radius: 3px;
    color: #707070;
    font-size: 11px;
    font-weight: 500;
}

.menu li:hover {
    background-color: #cdd6e4;
    color: #555555;
    font-weight: 700;
}

#new {
    text-align: center;
    color: white;
    background-color: #6287bd;
    padding-top: 3%;
    padding-bottom: 4%;
    margin-bottom: 5%;
    font-size: 12px;
}

#new:hover {
    background-color: #4e72a6;
}

.input {
    height: 100%;
    width: 78%;
    position: relative;
    left: 5%;
    background-color: rgba(0, 0, 255, 0);
    border: none;
    font-size: 15px;
    color: #989b9e;
    font-weight: 400;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    color: #989b9e
}

.email-menu {
    width: 100%;
    height: 38px;
    border: solid 0px;
    border-bottom-width: 2px;
    border-bottom-color: #e2e2e2;
    position: relative;
}

.emails-block {
    width: 100%;
    height: calc(100% - 73px);
    position: relative;
}

.emails-block ul {
    z-index: 0;
}

.email-list {
    margin: 0;
    padding: 0;
}

.email-list li {
    height: 10%;
}

.emails-list {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    z-index: 0;
}

.emails-list li {
    height: 40px;
    width: 100%;
    border: solid 0px;
    border-bottom-color: #e2e2e2;
    border-bottom-width: 2px;
}

.check {
    height: 11px;
    width: 11px;
    float: left;
    position: relative;
    margin: 0;
    opacity: 0;
    left: 20px;
    top: 50%;
    transform: translateY(-50%)
}

.check-style {
    display: block;
    height: 11px;
    width: 11px;
    float: left;
    margin-left: 20px;
    position: relative;
    left: -11px;
    top: 50%;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    transform: translateY(-50%);
}

.check:checked + label {
    background: rgba(0, 0, 0, 0.15);
}

.ya-logo {
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("2-layers@4x.png");
    float: left;
    left: 1%;
    position: relative;
    max-width: 100%;
    width: 30px;
    height: 30px;
}

.ya-y {
    display: block;
    width: 30%;
    height: 100%;
    max-width: 100%;
    position: relative;
    left: 50%;
    background-image: url("Fill-154@4x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    transform: translateX(-50%);
}

.title {
    width: 20%;
    position: relative;
    left: 3%;
    top: 50%;
    right: 5%;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 13px;
    transform: translateY(-50%);
}

.blue-circle {
    height: 10px;
    width: 10px;
    top: 50%;
    left: 5%;
    position: relative;
    float: left;
    border-radius: 50%;
    background-color: white;
    transform: translateY(-50%);
}

.email-preview {
    width: 50%;
    left: 8%;
}

.font-weight {
    font-weight: 700;
}

.font-weight .blue-circle {
    background-color: #6287bd;
}

.menu-elems {
    display: inline;
    float: left;
    position: relative;
    top: 50%;
    font-size: 13px;
    transform: translateY(-50%);
    color: #ccc;
    font-weight: 500;
}

.not-left {
    margin-left: 26px;
}

.footer-info {
    display: inline;
    margin-right: 20px;
    position: relative;
    float: right;
    top: 50%;
    color: #cccccc;
    font-size: 11px;
    transform: translateY(-50%);
    opacity: 1;
}

.open-page {
    display: none;
    z-index: 1;
    position: absolute;
    top: 44px;
    left: 0;
    background-color: white;
    width: calc(100% - 213px);
    height: calc(100% - 143px);
    margin-top: 52px;
    margin-left: 191px;
    min-width :587px;
    margin-right :22px;
    min-height :457px;
}

#open-pg {
    display: none;
}

#open-pg:checked ~ .open-page {
    display: block;
}

.new-page-content {
    overflow: hidden;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
}

.h1 {
    margin: 0;
    display: inline;
    left: 15%;
    position: relative;
    top: 10%;
}

.close {
    display: block;
    background-image: url("fe0abd829d.png");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.34;
    top: 2%;
    position: relative;
    width: 3.92vh;
    height: 3.92vh;
    left: 94%;
}

#img {
    height: 300px;
    width: 300px;
}

.menu-elems:hover {
    color: #bdb9b9;
    font-weight: 700;
}

.footer-infor {
    float: right;
    position: relative;
}

.footer {
    width: 100%;
    position: relative;
    border-top-style: solid;
    border-top-color: #e2e2e2;
    border-top-width: 2px;
    height: 31px;
}

.new-page-close {
    display: block;
    height: 20px;
}

.new-page-close-icon {
    padding: 0;
    font-size: 42px;
    float: right;
    background: none;
    border: none;
    margin: 20px;
}

.circle {
    float: right;
    clip-path: circle(50%);
    shape-outside: circle(50%);
}

.p-text {
    text-align: justify;
    font-size: 13px;
    font-weight: 500;
    margin-left: 22px;
}

.p-title {
    font-size: 13px;
    font-weight: 700;
    margin-left: 22px;
}