body {
    margin: 11px 20px 14px 22px;
    background-color: #e5eaf0;
}

#header {
    height: 32px;
    margin-bottom: 13px;
    overflow: hidden;
}

#left-column {
    margin-right: 22px;
    float: left;
    width: 147px;
}

#right-column {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.34);
    background-color: white;
    margin-bottom: 14px;
}

#burger-menu-button {
    width: 20px;
    margin-right: 3px;
    display: inline-block;
    line-height: 31px;
    height: 16.8px;
    vertical-align: middle;
    padding: 7px;
    border-radius: 6px;
}

#burger-menu-button:hover {
    background-color: #d9e0ea;
    cursor: pointer;
}

.burger-menu-button-item {
    height: 2.4px;
    margin-bottom: 4.8px;
    background-color: black;
}

#page-title-container {
    position: relative;
    float: left;
    height: 31px;
    font: 23px/32px Arial, sans-serif;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 31px;
}

#yandex-word {
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
    line-height: 31px;
}

#mail-word {
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
    line-height: 31px;
}

#search-bar-container {
    overflow: hidden;
    position: relative;
    margin-left: 298px;
    margin-right: 159px;
    height: 32px;
    opacity: 0.5;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    background-color: white;
}

#search-bar {
    box-sizing: border-box;
    width: 100%;
    border: none;
    height: 30px;
    margin: 1px;
    font-family: Arial, sans-serif;
    padding: 0 36px 0 16px;
}

#search-bar::-ms-clear {
    display: none;
}

#search-bar:focus {
    outline-width: 0;
}

.close {
    position: absolute;
    right: -12px;
    top: 5.5px;
    height: 20px;
    width: 34px;
    font-size: 20px;
    color: gray;
}

.close:hover {
    color: black;
    cursor: pointer;
}

#search-bar::placeholder {
    color: black;
}

#send-button {
    width: 147px;
    height: 32px;
    border-radius: 3px;
    background-color: #6287bd;
    border: none;
    color: white;
    font: 12px Arial, sans-serif;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

#send-button:hover {
    background-color: #4c76b7;
}

#send-button:focus {
    outline-width: 0;
}

.message-folders {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.left-item {
    display: block;
    box-sizing: border-box;
    line-height: 22px;
    width: 147px;
    height: 22px;
    font: 11px/22px Arial, sans-serif;
    color: #707070;
    text-decoration: none;
    margin-bottom: 0;
    padding: 0 10px;
    border-radius: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.messages {
    min-height: 460px;
}

.left-active-item {
    font-weight: bold;
    background-color: #cdd6e4;
    color: #555555;
}

.left-item:hover:not(.left-active-item) {
    background-color: #d9e0ea;
}

.message-item {
    height: 39px;
    padding: 0 20px;
    font: 0px Arial, sans-serif;
    line-height: 39px;
    border-bottom: solid 1px #e2e2e2;
    white-space: nowrap;
}

.base-checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox {
    display: inline-block;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.15);
    background-color: white;
    vertical-align: middle;
}

.base-checkbox:checked + .checkbox {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='12' viewBox='0 0 24 24'%3E%3Cpath d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.base-checkbox:focus + .checkbox {
    box-shadow: 0 0 4px 2px #ff0a;
}

.sender {
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-color: #ff3333;
    border-radius: 50%;
    color: white;
    text-align: center;
    font: 20px/30px Arial, sans-serif;
    vertical-align: middle;
}

.message-author {
    display: inline-block;
    vertical-align: middle;
    font: 13px/39px Arial, sans-serif;
    text-decoration: none;
    color: black;
    width: 165px;
    margin-right: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.unread-message-author {
    font-weight: bold;
    margin-right: 0px;
}

.read-marker {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #6287bd;
    margin-right: 10px;
}

.message-title {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    font: 13px/39px Arial, sans-serif;
    text-decoration: none;
    color: black;
    width: -webkit-calc(100% - 310px);
    width: -moz-calc(100% - 310px);
    width: calc(100% - 310px);
    text-overflow: ellipsis;
    cursor: pointer;
}

.unread-message-title {
    font-weight: bold;
}

.date {
    position: absolute;
    right: 20px;
    font-size: 13px;
    vertical-align: middle;
    color: #9b9b9b;
    text-align: right;
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.message-item-checkbox {
    margin-right: 20px;
}

.message-control-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    font-size: 13px;
    font-weight: 500;
    color: #cccccc;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
}

#footer {
    float: bottom;
    overflow: hidden;
    width: 100%;
    height: 30.5px;
    border-top: solid 1px #e2e2e2;
    padding: 0 20px;
    box-sizing: border-box;
}

.footer-item {
    font: 11px Arial, sans-serif;
    margin-right: 20px;
    line-height: 30.5px;
    color: #9b9b9b;
    float: right;
}

.footer-item-last {
    margin-right: 0;
}

#visibility-controller {
    display: none;
}

#visibility-controller:checked ~ .messages {
    display: none;
}

.essay {
    display: none;
}

#visibility-controller:checked ~ .essay {
    display: block;
}

.close-essay {
    float: right;
    font-size: 100px;
    line-height: 50px;
    color: #9b9b9b;
}

.close-essay:hover {
    color: black;
}

.footer-item-link {
    text-decoration: none;
    color: #9b9b9b;
}

.footer-item-link:hover {
    color: black;
}