@font-face {
    font-family: "Yandex Sans Medium";
    src: url("../fonts/YandexSansText-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Yandex Sans Light";
    src: url("../fonts/YandexSansText-Light.ttf") format("truetype");
}

main {
    width: 800px;
    height: 600px;
    background-color: #E5EAF0;
}

#mainHeader {
    width: 100%;
    height: 10%;
}

#mainHeader:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#mainHeader div {
    display: inline-block;
    vertical-align: middle;
}

#menu {
    height: 50%;
    width: 2.5%;
    margin-left: 2%;
}

#menu div {
    background: black;
    width: 100%;
    height: 10%;
    display: block;
    margin-top: 20%;
}


#name {
    height: 70%;
    width: 25%;

}

#yandex {
    font-family: "Yandex Sans Medium", serif;
    font-size: 31px;
}

#mail {
    font-family: "Yandex Sans Light", serif;
    font-size: 31px;
}

#inputText {
    margin-left: 16%;
    height: 50%;
    width: 37.5%;
    background: rgba(244, 249, 255, 0.77);
}

#inputText:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;

}

#search {
    margin-left: 12%;
    font-family: "Segoe UI", serif;
    font-size: 15px;
    color: #cccccc;
    vertical-align: middle;
    display: inline-block;
}

#cross {
    margin-left: 65%;
    font-family: "Segoe UI", serif;
    font-size: 19px;
    color: #cccccc;
    vertical-align: top;
    display: inline-block;
}

