@font-face {
    font-family: YandexSansDisplay-Thin;
    src: url(../fonts/YandexSansDisplay-Thin.ttf);
}

@font-face {
    font-family: YandexSansDisplay-Bold;
    src: url(../fonts/YandexSansDisplay-Bold.ttf);
}

body {
    background-color: #e5eaf0;
}

#top {
    position: relative;
    height: 40px;
}

#strips {
    position: absolute;
    width: 20px;
    height: 30px;
    margin-left: 30px;
    margin-top: 7px;
    margin-bottom: 1px;
}

.strip {
    width: 20px;
    height: 2.4px;
    margin-top: 4px;
    background: #000000;
}


#title {
    position: absolute;
    left: 60px;
    font-size: 30px;
}

#yandex {
    float: left;
    font-family: YandexSansDisplay-Bold;
}

#mail {
    float: left;
    margin-left: 10px;
    font-family: YandexSansDisplay-Thin;
}

#search {
    position: absolute;
    top: 5px;
    left: 500px;
    width: 301px;
    height: 25px;
    background-color: #f2f4f7;
    font-size: 15px;
    color: #707070;
}

#main {
    position: relative;
    height: 700px;
    margin-top: 20px;
    margin-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

#menu {
    position: absolute;
    width: 147px;
}

#write {
    width: 147px;
    height: 32px;
    background-color: #6287bd;
    border-radius: 3px;
    color: #ffffff;
}

#options {
    margin-top: 5px;
}

.option {
    height: 18px;
    padding-left: 5px;
    padding-top: 4px;
    border-radius: 3px;
    font-size: 11px;
    color: #707070;
}

#incoming {
    background-color: #cdd6e4;
    font-weight: bold;
    color: #555555;
}

#content {
    position: relative;
    left: 170px;
    width: 75%;
    height: 70%;
    background-color: #ffffff;
}

#actions {
    position: relative;
    height: 30px;
    border-bottom: solid #d8d8d8;
    border-bottom-width: 1px;
}

.check {
    position: absolute;
    left: 18px;
    top: 7px;
}

.action {
    position: absolute;
    width: 10%;
    top: 7px;
    font-size: 13px;
    color: #cccccc;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#forward {
    left: 5%;
}

#delete {
    left: 14%;
}

#spam {
    left: 23%;
}

#read {
    left: 32%;
}

.letter {
    position: relative;
    height: 35px;
    border-bottom: solid #d8d8d8;
    border-bottom-width: 1px;
}

.red_circle {
    position: absolute;
    top: 3px;
    left: 8%;
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    background-color: #ff3333;
    text-align: center;
    font-size: 20px;
    font-family: YandexSansDisplay-Thin;
    font-weight: bold;
    color: #ffffff;
}

.sender {
    position: absolute;
    top: 10px;
    left: 15%;
    width: 20%;
    font-size: 15px;
    font-weight: 550;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sender_read {
    position: absolute;
    top: 10px;
    left: 15%;
    width: 20%;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.blue_circle {
    position: absolute;
    top: 13px;
    left: 39%;
    width: 10px;
    height: 10px;
    background-color: #6287bd;
    border-radius: 50%;
}

.letter_title {
    left: 40%;
    width: 30%;
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.date {
    position: absolute;
    top: 10px;
    right: 5%;
    font-size: 15px;
    color: #9b9b9b;
}

#check_article {
    display: none;
}

#check_article + label {
    cursor: pointer;
}

#check_article:checked + label {
    display: none;
}

#check_article + label ~ #article {
    display: none;
}

#close {
    float: right;
    margin-right: 10px;
    font-size: 30px;
    color: #d8d8d8;
    cursor: pointer;
}

#check_article:checked + label + #article {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: #ffffff;
}

#article_text {
    padding: 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-indent: 30px;
}

img {
    float: right;
    width: 300px;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;
    border-top: solid #d8d8d8;
    border-width: 1px;
}

#info {
    position: relative;
}

#help {
    left: 50%;
}

#advert {
    left: 67%;
}

#company {
    left: 75%;
}

.info_option {
    position: absolute;
    top: 7px;
    width: 15%;
    font-size: 11px;
    color: #9b9b9b;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}